body {
  pointer-events: none;
  margin: 0;
  background-color: #fff;
}


canvas {
  position: absolute;
  pointer-events: auto;
}


div.top_left_grey {
  position: relative;
  left: 20px;
  top: 20px;
  width: 300px;
  filter: invert(48%) brightness(100%) contrast(100%);
}



div.headline {
  position: relative;
  font-family: Inter, sans-serif;
  font-size: 2.5em;
  letter-spacing: -0.05em;
  color: #00c717;
  left: 20px;
  top: 40px;
  max-width: 600px;
}



div.main_text {
  position: absolute;
  font-family: 'DM Mono', sans-serif;
  font-size: 1em;
  letter-spacing: -0.05em;
  color: rgb(4, 54, 235);
  left: 540px;
  top: 120px;
  max-width: 600px;
}



div.tertiary {
  position: relative;
  font-family: 'DM Mono', sans-serif;
  font-size: 0.9em;
  letter-spacing: -0.05em;
  color: rgb(137, 137, 137);
  left: 20px;
  top: 110px;
  max-width: 500px;
}



div.hr {
  position: relative;
  height: 1px;
  color: #000;
  top: 100px;
}

/* mobile portrait */
@media only screen and (max-width: 480px) {


  div.top_left_grey {
    position: relative;
    left: 20px;
    top: 20px;
    width: 55%;
    filter: invert(48%) brightness(100%) contrast(100%);
    pointer-events: auto;
    cursor: pointer;
  }

  div.headline {
    position: relative;
    font-family: Inter, sans-serif;
    font-size: 1.6em;
    letter-spacing: -0.05em;
    color: #00c717;
    left: 20px;
    top: 40px;
    width: 87%;
  }


  div.main_text {
    position: relative;
    font-family: 'DM Mono', sans-serif;
    font-size: 1.1em;
    letter-spacing: -0.05em;
    color: rgb(4, 54, 235);
    left: 20px;
    top: 60px;
    width: 80%;
  }

  div.hr {
    position: relative;
    color: rgb(0, 0, 0);
top: 80px;
  }

  div.tertiary {
    position: relative;
    font-family: 'DM Mono', sans-serif;
    font-size: 0.9em;
    letter-spacing: -0.05em;
    color: rgb(137, 137, 137);
    left: 20px;
    top: 90px;
    width: 90%;
  }
}

/* mobile landscape */
@media screen and (max-height: 480px) and (orientation: landscape) {

  div.top_left_grey {
    position: relative;
    left: 20px;
    top: 20px;
    width: 25%;
    min-width: 100px;
    max-width: 200px;
    filter: invert(48%) brightness(100%) contrast(100%);

  }

  div.headline {
    position: relative;
    font-family: Inter, sans-serif;
    font-size: 1.6em;
    letter-spacing: -0.05em;
    color: #00c717;
    left: 20px;
    top: 30px;
    width: 50%;
  }

  div.main_text {
    position: relative;
    font-family: 'DM Mono', sans-serif;
    font-size: 1em;
    letter-spacing: -0.05em;
    color: rgb(4, 54, 235);
    left: 43%;
    top: -35px;
    max-width: 54%;
  }

  div.hr {
    position: relative;
    color: #000;

  }

  div.tertiary {
    position: relative;
    font-family: 'DM Mono', sans-serif;
    font-size: 0.5em;
    letter-spacing: -0.05em;
    color: rgb(137, 137, 137);
    left: 20px;
    max-width: 80%;
    top: -10px;
  }

}

/* ipad portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {

  div.top_left_grey {
    position: relative;
    left: 20px;
    top: 20px;
    width: 55%;
    filter: invert(48%) brightness(100%) contrast(100%);
  }

  div.headline {
    position: relative;
    font-family: Inter, sans-serif;
    font-size: 1.8em;
    letter-spacing: -0.05em;
    color: #00c717;
    left: 20px;
    top: 40px;
    width: 80%;
  }


  div.main_text {
    position: relative;
    font-family: 'DM Mono', sans-serif;
    font-size: 1.1em;
    letter-spacing: -0.05em;
    color: rgb(4, 54, 235);
    left: 20px;
    top: 60px;
    width: 80%;
  }

  div.hr {
    position: relative;
    color: rgb(0, 0, 0);
    top: 80px;
  }

  div.tertiary {
    position: relative;
    font-family: 'DM Mono', sans-serif;
    font-size: 0.9em;
    letter-spacing: -0.05em;
    color: rgb(137, 137, 137);
    left: 20px;
    top: 90px;
    width: 90%;
  }

}

/* Hamburger menu */
.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0px;


  background-color: rgba(255, 255, 255, 0.90);


}

.overlay-content {
  position: relative;
  width: 100%;
  font-family: Inter, sans-serif;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.8em;
  letter-spacing: -0.05em;
  pointer-events: auto;
  cursor: pointer;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;

  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: rgb(4, 54, 235);
}

.overlay .closebtn {
  color: rgb(137, 137, 137);
  font-size: 36px;
  position: absolute;
  top: 14px;
  right: 32px;
  pointer-events: auto;
  cursor: pointer;
}

.hamburger {
  color: rgb(137, 137, 137);
  font-size: 36px;
  position: absolute;
  top: 20px;
  right: 35px;
  pointer-events: auto;
  cursor: pointer;

}