body {
  pointer-events: none;
  margin: 0;
  background-color: #fff;
}


canvas {
  position: absolute;
  pointer-events: auto;
}


div.top_left_grey {
  position: relative;
  left: 20px;
  top: 20px;
  width: 20%;
  min-width: 200px;
  max-width: 300px;
  filter: invert(48%) brightness(100%) contrast(100%);
}



div.headline {
  position: relative;
  font-family: Inter, sans-serif;
  font-size: 2.5em;
  letter-spacing: -0.05em;
  color: #00c717;
  left: 20px;
  top: 40px;
  max-width: 500px;
}



div.main_text {
  position: relative;
  font-family: 'DM Mono', sans-serif;
  font-size: 1em;
  letter-spacing: -0.05em;
  color: rgb(4, 54, 235);
  left: 520px;
  top: -50px;
  max-width: 600px;
}



div.tertiary {
  position: relative;
  font-family: 'DM Mono', sans-serif;
  font-size: 0.9em;
  letter-spacing: -0.05em;
  color: rgb(137, 137, 137);
  left: 20px;
  max-width: 500px;
}



div.hr {
  position: relative;
  height: 1px;
  color: #000;
  left: 20px;
  top: -10px;
  width: 95%;
}

/* mobile portrait */
@media only screen and (max-width: 480px) {


  div.top_left_grey {
    position: relative;
    left: 20px;
    top: 20px;
    width: 55%;
    filter: invert(48%) brightness(100%) contrast(100%);
  }

  div.headline {
    position: relative;
    font-family: Inter, sans-serif;
    font-size: 1.8em;
    letter-spacing: -0.05em;
    color: #00c717;
    left: 20px;
    top: 40px;
    width: 85%;
  }


  div.main_text {
    position: relative;
    font-family: 'DM Mono', sans-serif;
    font-size: 1.1em;
    letter-spacing: -0.05em;
    color: rgb(4, 54, 235);
    left: 20px;
    top: 60px;
    width: 80%;
  }

  div.hr {
    position: relative;
    color: rgb(0, 0, 0);
    left: 20px;
    max-width: 90%;
    top: 80px;
  }

  div.tertiary {
    position: relative;
    font-family: 'DM Mono', sans-serif;
    font-size: 0.9em;
    letter-spacing: -0.05em;
    color: rgb(137, 137, 137);
    left: 20px;
    top: 90px;
    width: 90%;
  }
}

/* mobile landscape */
@media screen and (max-height: 480px) and (orientation: landscape) {

  div.top_left_grey {
    position: relative;
    left: 20px;
    top: 20px;
    width: 25%;
    min-width: 100px;
    max-width: 200px;
    filter: invert(48%) brightness(100%) contrast(100%);

  }

  div.headline {
    position: relative;
    font-family: Inter, sans-serif;
    font-size: 1.7em;
    letter-spacing: -0.05em;
    color: #00c717;
    left: 20px;
    top: 30px;
    width: 35%;
  }

  div.main_text {
    position: relative;
    font-family: 'DM Mono', sans-serif;
    font-size: 1em;
    letter-spacing: -0.05em;
    color: rgb(4, 54, 235);
    left: 40%;
    top: -40px;
    max-width: 55%;
  }

  div.hr {
    position: relative;
    color: #000;
    top: -10px;
    left: 20px;
    width: 95%;
  }

  div.tertiary {
    position: relative;
    font-family: 'DM Mono', sans-serif;
    font-size: 0.5em;
    letter-spacing: -0.05em;
    color: rgb(137, 137, 137);
    left: 20px;
    max-width: 80%;

  }

}